* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 5px;
}

.padding {
    padding: 10px;
}

.margin-bottom {
    margin-bottom: 2px;
}

.border {
    border: solid white;
}

.center {
    text-align: center;
}

@media (min-width: 576px) {
    .col-small-1 {
        width: 8.33%;
        background: cyan;
    }
    .col-small-2 {
        width: 16.66%;
        background: violet;
    }
    .col-small-3 {
        width: 25%;
        background: salmon;
    }
    .col-small-4 {
        width: 33.33%;
        background: slateblue;
    }
    .col-small-5 {
        width: 41.66%;
        background: yellowgreen;
    }
    .col-small-6 {
        width: 50%;
        background: blue;
    }
    .col-small-7 {
        width: 58.33%;
        background: black;
    }
    .col-small-8 {
        width: 66.66%;
        background: #33DDFF;
    }
    .col-small-9 {
        width: 75%;
        background: #FF33CA;
    }
    .col-small-10 {
        width: 83.33%;
        background: #5233FF;
    }
    .col-small-11 {
        width: 91.66%;
        background: #339CFF;
    }
    .col-small-12 {
        width: 100%;
        background: green;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .col-md-1 {
        width: 8.33%;
        background: cyan;
    }
    .col-md-2 {
        width: 16.66%;
        background: violet;
    }
    .col-md-3 {
        width: 25%;
        background: salmon;
    }
    .col-md-4 {
        width: 33.33%;
        background: slateblue;
    }
    .col-md-5 {
        width: 41.66%;
        background: yellowgreen;
    }
    .col-md-6 {
        width: 50%;
        background: blue;
    }
    .col-md-7 {
        width: 58.33%;
        background: black;
    }
    .col-md-8 {
        width: 66.66%;
        background: #33DDFF;
    }
    .col-md-9 {
        width: 75%;
        background: #FF33CA;
    }
    .col-md-10 {
        width: 83.33%;
        background: #5233FF;
    }
    .col-md-11 {
        width: 91.66%;
        background: #339CFF;
    }
    .col-md-12 {
        width: 100%;
        background: green;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 992px) {
    .col-lg-1 {
        width: 8.33%;
        background: cyan;
    }
    .col-lg-2 {
        width: 16.66%;
        background: violet;
    }
    .col-lg-3 {
        width: 25%;
        background: salmon;
    }
    .col-lg-4 {
        width: 33.33%;
        background: slateblue;
    }
    .col-lg-5 {
        width: 41.66%;
        background: yellowgreen;
    }
    .col-lg-6 {
        width: 50%;
        background: blue;
    }
    .col-lg-7 {
        width: 58.33%;
        background: black;
    }
    .col-lg-8 {
        width: 66.66%;
        background: #33DDFF;
    }
    .col-lg-9 {
        width: 75%;
        background: #FF33CA;
    }
    .col-lg-10 {
        width: 83.33%;
        background: #5233FF;
    }
    .col-lg-11 {
        width: 91.66%;
        background: #339CFF;
    }
    .col-lg-12 {
        width: 100%;
        background: green;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
}